.nav-sidebar {
  min-width: 12rem;
  height: fit-content;
  top: 5rem;
  left: 0;
  background: var(--light-color);
  padding: 0.5rem 0.75rem;
  display: none;
}

.nav-sidebar.open {
  display: inherit;
}

.grid-column-2 {
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: inline;
}

@media screen and (min-width: 945px) {
  .nav-sidebar {
    display: inherit;
    position: sticky;
  }

  .grid-column-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}
